<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ManufactNamesEntities" connectionString="metadata=res://*/ManufactNameValidation.Model1.csdl|res://*/ManufactNameValidation.Model1.ssdl|res://*/ManufactNameValidation.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlwindraw.fabrikon.ru;initial catalog=ecad_FO;user id=windraw;password=Ffff1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>